################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/experimento-hu012-ha10/Despliegue/elastic_data/infra_elastic_data/_data/nodes/0
/.vs/ProyectoIntegrador1/v17
*.json
/.vs/ProyectoIntegrador1
/experimento-hu021/.vs/experimento-hu021
/experimento-hu021/.vs/ProjectEvaluation
/experimento-hu021/Despliegue/elastic_data/infra_elastic_data/_data/nodes/0
/experimento-hu021/Despliegue-exp2/elastic_data/infra_elastic_data/_data/nodes/0
/experimento-hu021/experimento-hu021/elastic_data/infra_elastic_data/_data/nodes/0
*.sqlite-journal


# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/